.navbar {
  .nav-link {
    cursor: pointer;
    p {
      display: block;
    }
  }
}

.navbar-profile {
  > p {
    font-size: 1.2em;
    text-transform: none;
    margin-right: 7px;
  }
  > img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
  }
}
