.referral-img {
  width: 65%;
  margin: auto;
  margin-top: 10px;
}

.referral-card-text {
  display: flex;
  flex-direction: column;

  .referral-title {
    font-size: large;
  }

  .referral-brands {
    display: flex;
    justify-content: space-evenly;
    margin: 20px;
    > img {
      width: 25px;
      height: 25px;
      filter: invert(100%) sepia(3%) saturate(0%) hue-rotate(164deg)
        brightness(102%) contrast(105%);
    }
    > img:hover {
      cursor: pointer;
    }
  }

  .referral-link {
    display: flex;
    align-self: center;
    align-items: center;
  }

  #ta-referral-code {
    height: fit-content !important;
    padding: 9.5px;
  }
}
